<p id="notice"><%= notice %></p>

<p>
  <b>Outboundlink:</b>
  <%= @nad.outboundlink %>
</p>

<p>
  <b>Imgurl:</b>
  <%= @nad.imgurl %>
</p>

<p>
  <b>Head:</b>
  <%= @nad.head %>
</p>

<p>
  <b>Caption:</b>
  <%= @nad.caption %>
</p>

<p>
  <b>Approved:</b>
  <%= @nad.approved %>
</p>

<p>
  <b>Domain_id:</b>
  <%= @nad.domain_id %>
</p>


<%= link_to 'Edit', edit_nad_path(@nad) %> |
<%= link_to 'Back', nads_path %>
