<p id="notice"><%= notice %></p>

<p>
  <b>Nad:</b>
  <%= @view.nad_id %>
</p>

<p>
  <b>Viewedon:</b>
  <%= @view.viewedon %>
</p>


<%= link_to 'Edit', edit_view_path(@view) %> |
<%= link_to 'Back', views_path %>
